* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 15px
}

.App {
  width: 800px;
}

.post {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border: 2px solid teal;
  padding: 15px;
  align-items: center;
  margin-top: 12px;
}
